* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

html {
  scroll-behavior: smooth;
}

/*==================================== summary ====================================*/
header {
  background-color: #1e1f26;
}

main {
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: white;
}

footer {
  background-color: #283655;
}

@media (max-width: 420px) {
  main {
    grid-template-columns: 1fr;
  }
}

/*==================================== common styles ====================================*/
.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
}

h2 {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Alegreya', sans-serif;
  font-size: 20px;
  letter-spacing: 5px;
  border-radius: 35px;
  line-height: 30px;
  color: #d2e0f4;
  background-color: #1e1f26;
  box-shadow: 7px 5px 5px #4d648d64;
}

ul {
  margin: 0px;
  padding: 0px;
  font-family: 'Alegreya', sans-serif;
  font-size: 18px;
  line-height: 30px;
  list-style: none;
  color: #1e1f26;
}

a,
p {
  font-family: 'Alegreya', sans-serif;
  font-size: 18px;
  color: #1e1f26;
  text-decoration: none;
  margin: 0px;
}

.icons {
  max-width: 30px;
  max-height: 30px;
}

.slider {
  align-self: center;
  width: 50%;
  height: 7px;
  background-color: #d2e0f4;
  border-radius: 5px;
}

.level {
  height: 100%;
  border-radius: 5px;
  background-color: #1e1f26;
}

.ellipse {
  width: 15px;
  height: 15px;
  background-color: #1e1f26;
  border-radius: 10px;
}

/*==================================== header ====================================*/
header ul {
  flex-wrap: wrap;
  justify-content: flex-end;
}

.menu a {
  color: #d2e0f4;
  padding: 10px 15px;
  line-height: 50px;
}

a:hover {
  color: #4d648d;
  text-shadow: 0px 1px 2px #4d648d;
  transition: 1s;
}

/* @media (max-width:420px) {
  .dropbtn {
    font-family: 'Alegreya', sans-serif;
    background-color: #283655;
    color: #d2e0f4;
    padding: 16px;
    font-size: 16px;
    border: none;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .menu {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 20px 0px #1e1f26;
    z-index: 1;
  }

  .menu a {
    color: #1e1f26;
    padding: 10px 15px;
    display: block;
    background-color: #d2e0f4;
  }

  .dropdown:hover .menu {
    display: block;
  }

  .dropdown:hover .dropbtn {
    background-color: #304268;
    transition: 0.3s;
  }
} */

/*========================================= main ====================================*/
/* general-info */
.general-info {
  justify-content: space-around;
  padding: 0em 2em 2em 2em;
  background-color: #d2e0f4;
}

.profile {
  align-items: center;
}

.profile>h1 {
  font-family: 'Alegreya', sans-serif;
  font-size: 30px;
  font-style: italic;
  text-align: center;
  text-transform: uppercase;
  line-height: 50px;
  letter-spacing: 10px;
  margin: 0px;
  color: #1e1f26;
  text-shadow: 0px 0px 5px #4d648d;
  border-bottom: 3px solid #1e1f26;
}

.profile>h3 {
  font-family: 'Alegreya', sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #1e1f26;
  border-bottom: 1px solid #1e1f26;
}

.profile>img {
  width: 60%;
  border: 10px solid #1e1f26;
  border-radius: 250px;
  box-shadow: 0px 8px 20px 0px #1e1f26;
}

.about-me img,
.contacts img {
  margin-right: 15px;
}

/* ability-info */
.ability-info {
  justify-content: space-around;
  padding: 0em 2em 2em 2em;
}

.skills-conteiner {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  row-gap: 15px;
  color: #1e1f26;
}

.skills .level-html,
.skills .level-trello {
  width: 90%;
}

.skills .level-css,
.skills .level-git {
  width: 75%;
}

.skills .level-js {
  width: 65%;
}

.skills .level-figma {
  width: 70%;
}

.skills,
.projects,
.code,
.education {
  padding-bottom: 20px;
  border-bottom: 1px solid #1e1f26;

}

.code>p {
  text-shadow: 0px 0px 1px #283655;
}

.languages-conteiner {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 20px;
}

.english .ellipse:nth-child(5),
.english .ellipse:nth-child(6),
.polish .ellipse:nth-child(3),
.polish .ellipse:nth-child(4),
.polish .ellipse:nth-child(5),
.polish .ellipse:nth-child(6) {
  background-color: #accdd253;
}

@media (max-width: 420px) {
  .skills-conteiner {
    grid-template-columns: 1fr;
    row-gap: 10px;
  }
}

@media (max-width: 420px) {
  .languages-conteiner {
    grid-template-columns: 1fr;
    row-gap: 10px;
  }
}

/*************************** footer **********************/
.footer {
  justify-content: space-evenly;
  align-items: center;
}

.footer .rsschool {
  width: 60px;
  height: 30px;
}