* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

html {
  scroll-behavior: smooth;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas:
    "header header"
    "aside main"
    "footer footer";
}

/********************************** summary ***************************/
header {
  grid-area: header;
  background-color: #006c84c1;
}

aside {
  grid-area: aside;
  background-color: #accdd253;
}

main {
  grid-area: main;
  background-color: white;
  min-height: 1000px;
  padding-left: 30px;
}

footer {
  min-height: 200px;
  grid-area: footer;
  background-color: #6EB5C0;
}
@media (max-width: 420px) {
  .grid {
    display: grid;
    grid-template-areas:
      "header header"
      "aside aside"
      "main main"
      "footer footer";
  }
}
/*************************** common styles *****************************************/
h1,
h2 {
  font-size: 20px;
  font-family: 'Alegreya', sans-serif;
  display: inline-block;
}

h2 {
  color: #00596d;
  background-color: #FFCCBB;
  border-radius: 35px;
  line-height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: 7px 5px 5px #dfb8ab;
}

ul {
  margin: 0px;
  padding: 0px;
}

.icons {
  max-width: 30px;
  max-height: 30px;
}

/********************************** header ***************************/
header ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  list-style: none;
}

header a {
  font-size: 16px;
  font-family: 'Alegreya', sans-serif;
  text-decoration: none;
  line-height: 50px;
  color: #E2E8E4;
  margin-left: 20px;
}

a:hover {
  color: #FFCCBB;
  transition: 1s;
}

/********************************** aside ***************************/
aside {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

aside .profile-photo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

aside .profile-photo>img {
  width: 70%;
  border-radius: 250px;
  border: 10px solid #FFCCBB;
}

aside .contacts {
  display: flex;
  flex-direction: column;
}

aside h2 {
  align-self: center;
  margin-bottom: 30px;
}

aside .contacts li {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
}
aside a {
font-size: 18px;
color: #006C84;
text-decoration: none;
margin-left: 10px;
font-family: 'Alegreya', sans-serif;
}
aside .about-me {
  display: flex;
  flex-direction: column;
}
aside .about-me li {
  display: flex;
  flex-direction: row;
  font-size: 18px;
  font-family: 'Alegreya', sans-serif;
  color: #00596d;
  line-height: 30px;
  margin-left: 20px;
}
aside .about-me img {
  margin-right: 15px;
}
/*********************************** main *************************/
main .profile > h1 {
  font-size: 30px;
  color: #00596d;
  font-style: italic;
  text-transform: uppercase;
  line-height: 50px;
  border-bottom: 5px solid #00596d;
}
main .profile > h3 {
  font-size: 18px;
  color: #00596d;
  line-height: 30px;
  margin: 0px;
}