* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

html {
  scroll-behavior: smooth;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas:
    "header header"
    "aside main"
    "footer footer";
}

/********************************** summary ***************************/
header {
  grid-area: header;
  background-color: #006c84c1;
}

aside {
  grid-area: aside;
  background-color: #accdd253;
  padding-top: 20px;
}

main {
  grid-area: main;
  background-color: white;
  padding: 0px 50px 50px 50px;
}

footer {
  /* min-height: 200px; */
  grid-area: footer;
  background-color: #6EB5C0;
}

@media (max-width: 420px) {
  .grid {
    display: grid;
    grid-template-areas:
      "header header"
      "aside aside"
      "main main"
      "footer footer";
  }

  main {
    padding: 0px 20px 20px 20px;
  }
}

/*************************** common styles *****************************************/
h1,
h2 {
  font-size: 20px;
  font-family: 'Alegreya', sans-serif;
  display: inline-block;
}

h2 {
  color: #00596d;
  background-color: #FFCCBB;
  border-radius: 35px;
  line-height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: 7px 5px 5px #dfb8ab;
  letter-spacing: 5px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

li {
  font-size: 18px;
  font-family: 'Alegreya', sans-serif;
  color: #00596d;
  line-height: 30px;
}

a,
p {
  font-family: 'Alegreya', sans-serif;
  text-decoration: none;
  font-size: 18px;
  color: #006C84;
  margin-left: 10px;
}

p {
  margin: 0px;
}

a:hover {
  color: #FFCCBB;
  transition: 1s;
}

.icons {
  max-width: 30px;
  max-height: 30px;
}

.slider {
  width: 50%;
  height: 7px;
  background-color: #accdd253;
  border-radius: 5px;
  align-self: center;
}

.level {
  background-color: #00596d;
  height: 100%;
  border-radius: 5px;
}

.ellipse {
  width: 15px;
  height: 15px;
  background-color: #006C84;
  border-radius: 10px;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

/********************************** header ***************************/
header ul {
  flex-wrap: wrap;
  justify-content: flex-end;
}

header a {
  font-size: 16px;
  line-height: 50px;
  color: #E2E8E4;
  margin-left: 20px;
}

/********************************** aside ***************************/
aside {
  justify-content: space-around;
}

.profile-photo {
  align-items: center;
}

.profile-photo>img {
  width: 70%;
  border-radius: 250px;
  border: 10px solid #FFCCBB;
}

aside h2 {
  align-self: center;
  margin-bottom: 30px;
}

.contacts li,
.about-me li {
  margin-left: 20px;
}

.about-me img {
  margin-right: 15px;
}

/*********************************** main *************************/
.profile>h1 {
  font-size: 30px;
  color: #00596d;
  font-style: italic;
  text-transform: uppercase;
  line-height: 50px;
  border-bottom: 3px solid #00596d;
  border-radius: 5px;
  letter-spacing: 10px;
}

.profile>h3 {
  font-size: 18px;
  color: #00596d;
  line-height: 30px;
  margin: 0px;
  border-bottom: 1px solid #00596d;
}

.skills .skills-grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  row-gap: 15px;
  color: #00596d;
}

@media (max-width: 420px) {
  .skills .skills-grid {
    grid-template-columns: 1fr;
    row-gap: 10px;
  }
}

.skills .level-html,
.skills .level-trello {
  width: 90%;
}

.skills .level-css,
.skills .level-git {
  width: 75%;
}

.skills .level-js {
  width: 65%;
}

.skills .level-figma {
  width: 70%;
}

.skills,
.projects,
.code,
.education {
  padding-bottom: 20px;
  border-bottom: 1px solid #00596d;
}

.code>p {
  background-color: #accdd253;
  text-shadow: 1px 4px 2px #FFCCBB;
}

.languages-conteiner {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 20px;
}

@media (max-width: 420px) {
  .languages-conteiner {
    grid-template-columns: 1fr;
    row-gap: 10px;
  }
}

.english .ellipse:nth-child(5),
.english .ellipse:nth-child(6),
.polish .ellipse:nth-child(3),
.polish .ellipse:nth-child(4),
.polish .ellipse:nth-child(5),
.polish .ellipse:nth-child(6) {
  background-color: #accdd253;
}

/*************************** footer **********************/
.footer {
  justify-content: space-evenly;
  align-items: center;
}

.footer .rsschool {
  width: 60px;
  height: 30px;
}